beautifulsoup4
google-auth
google-auth-oauthlib
google-genai
gspread
matplotlib
playwright
requests
requests-file
requests-oauthlib
schedule
Scrapy
selenium
webdriver-manager
websocket-client
websockets
python-dotenv